@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Hind+Siliguri:wght@300;400;500&family=Inter:wght@100..900&family=WindSong&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow {
    text-shadow: 2px 2px 4px rgba(29, 52, 93, 0.8);
}

/* Rotate Menu curtain icon */

.rotate-icon {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

/* Horizontal scroll  */

@keyframes scrollText {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.motion-text {
  display: inline-flex; /* Ensures the text acts as one continuous line */
  animation: scrollText 30s linear infinite; /* Starts with a 30s duration */
}



/* ========= MENU CURTAIN ANIMATION TO OPEN AND CLOSE=======

Base positioning */
.menu-article {
  position: fixed;
  top: 0;
  left: 0; /* Start from the left */
  width: 50rem;
  height: calc(100vh - 40px);
  margin: 20px;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
  transform: translateX(-100%); /* Initially hide off-screen */
}


/* Shown state */
.menu-article-open {
  transform: translateX(0); /* Show the menu */
}

/* Hidden state - might be redundant as the base class already hides the menu */
.menu-article-closed {
  transform: translateX(-100%); /* Hide the menu */
}


/* ========= Curtain effect for the Hero section ========== */

@keyframes slideCurtain {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(100%);
    }
}

@keyframes fadeOutCurtain {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.curtain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation-name: fadeOutCurtain;
    animation-duration: 3s; /* Adjust the duration to match your preference */
    animation-fill-mode: forwards; /* Keeps the curtain at final state (fully transparent) */
}


.image-container {
    position: relative;
    overflow: hidden;
}

/*========= Gradient Text ========*/

.app-title {
        background: linear-gradient( rgb(34, 147, 252) 0%, rgb(155,81,224) 90%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }


/*================ABOUT TITLE ANIMATION================*/

@keyframes slideLeft {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

.motion-text {
    display: inline-block;
    white-space: nowrap;
    animation: slideLeft 10s linear infinite;
}

/*  Hover for gradient buttons*/
.btn-filled:hover {
  background-color: #0084FF !important; /* Azure color */
  background-image: none !important;
}


@layer base {
    body {
        @apply font-sans box-border;
    }


    a {
        @apply cursor-pointer no-underline;
    }
}

@layer components {
    .button {
        @apply text-center font-bold tracking-widest focus:outline-none border-2 rounded-lg text-xl uppercase;
    }
    .gradient-border {
        position: relative;
    }
    .gradient-border::before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: inherit; /* Match the border-radius of the element */
        background: linear-gradient(135deg, rgba(6,147,227,1) 0%, rgb(155,81,224) 100%);
        border-radius: inherit; /* Match the border-radius of the element */
        clip-path: polygon(0% 0%, 0% 100%, 4px 100%, 4px 4px, calc(100% - 4px) 4px, calc(100% - 4px) 
                    calc(100% - 4px), 4px calc(100% - 4px), 4px 100%, 100% 100%, 100% 0%); 
        pointer-events: none; /* Allows clicks to pass through */   
    }
}

@layer utilities {   

    
    .btn-filled {
        @apply button text-white bg-custom-gradient-btn hover:bg-spanishBlue hover:text-zinc-100 border-spanishBlue 
             shadow-xl shadow-midnight
    }

    .btn-filled-no-shadow {
        @apply text-white bg-custom-gradient-btn hover:bg-transparent  border-spanishBlue 
             
    }

    .no-shadow-btn {
        @apply button text-white bg-spanishBlue hover:text-spanishBlue hover:bg-transparent 
            border-4 border-transparent hover:border-4 hover:border-spanishBlue 
    }

    .border-btn {
        @apply button text-oceanBlue bg-transparent border-4 border-oceanBlue hover:tracking-widest 
    }

    .transparent-btn {
        @apply button text-spanishBlue bg-transparent  
            border-spanishBlue shadow-xl shadow-midnight
    }

    .booking-btn {
        @apply w-full p-6 bg-gray-200 hover:bg-gray-300 rounded-md cursor-pointer mt-6 text-2xl font-semibold 
             text-left
    }

    
    

    .ul {
        @apply flex justify-evenly text-spanishBlue gap-2 
    }

    .nav-link {
        @apply relative tracking-[1px] hover:text-white3
    }

    .nav-link::after {
        @apply content-[''] bg-spanishBlue h-[5px] w-[0%] left-0 bottom-[5px] rounded-xl absolute duration-500
    }

    .nav-link:hover::after {
        @apply w-[100%]
    }

    .item .activeIcon {
        @apply hidden
    }

    .item.active .inactiveIcon {
        @apply hidden
    }

    .item.active .activeIcon {
        @apply block
    }

    .item:not(.active) .content {
        @apply h-0 overflow-hidden py-0
    }

    .item.active {
        @apply px-12 py-8
    }

    .input {
        @apply border-2 border-slate-300 p-2 focus:outline-none focus:bg-white3 focus:ring-2 focus:ring-blue-400 
            focus:border-2 focus:border-blue-400
    }

    .avatar-sm {
        @apply w-24 h-24 bg-fairBlue hover:bg-oceanBlue border-2 border-spanishBlue rounded-full
            flex flex-col justify-center items-center mx-1 my-1 cursor-pointer
    }

    .avatar-img-sm {
        @apply w-24 rounded-full border-2 border-spanishBlue
    }
}
